.nav{
  margin: 5px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

}

.span12 {
  grid-column: span 12;
}


.span8 {
  grid-column: span 8;
}

.span6 {
  grid-column: span 6;
}

.span4 {
  grid-column: span 4;
}

.span3 {
  grid-column: span 3;
}

.span2 {
  grid-column: span 2;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #495E57;
}

a:hover {
  color: #F2B138;
}

h1 {
  color: #F4CE14;
  margin-bottom: 0px;
}

h3 {
  color: white;
  margin-top: 0px;
}

label {
  color: white;
}

.footerLinks {
  color: #495E57;
  padding: 2px;
  margin: 0px;
}

@media (max-width: 768px) {
  /* Adjust styles for screens 768px and below */
  body {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .span8, .span6, .span4, .span3, .span2 {
    grid-column: span 12; /* Full width for smaller screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Adjust styles for screens between 769px and 1024px */

    body {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .span8, .span6, .span4, .span3, .span2 {
    grid-column: span 6; /* Full width for smaller screens */
  }

  .grid {
    gap: 20px;
  }
}
