.nav{
  margin: 5px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

}

.span8 {
  grid-column: span 8;
}

.span6 {
  grid-column: span 6;
}

.span4 {
  grid-column: span 4;
}

.span2 {
  grid-column: span 2;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #495E57;
}

a:hover {
  color: #F2B138;
}

h1 {
  color: #F4CE14;
  margin-bottom: 0px;
}

h3 {
  color: white;
  margin-top: 0px;
}

