.nav{
  margin: 5px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

}

.span8 {
  grid-column: span 8;
}

.span6 {
  grid-column: span 6;
}

.span4 {
  grid-column: span 4;
}

.span2 {
  grid-column: span 2;
}
